out.*
err.*
*.out
*.err
*.stats
__pycache__/
.nfs*
*.ncu-rep
build/
*.so
*env
results*
models/
test/
test_data/
runs/
pdb_2021aug02_sample/
*.egg-info
.pytest_cache
.pixi
pixi.lock
.vscode
docs/_build/
docs/api/generated/