[workspace]
name = "proteus"
version = "0.0.1"
description = "protein generative model"
channels = ["conda-forge", "nvidia", "pytorch", "bioconda"]
platforms = ["linux-64"]

[environments]
cpu = { features = ["cpu"] , solve-group = "cpu" }
gpu = { features = ["gpu"] , solve-group = "gpu" }
docs = { features = ["docs"], solve-group = "cpu" }

[activation.env]
EXP_DIR = "$HOME/proteus/experiments/mlflow"
MLFLOW_HOST = "localhost"
MLFLOW_PORT = "5000"
MLFLOW_SERVE_ARTIFACTS = "False"
MLFLOW_TRACKING_URI = "sqlite:///$EXP_DIR/mlruns.db"
MLFLOW_BACKEND_STORE_URI = "$MLFLOW_TRACKING_URI"
MLFLOW_REGISTRY_STORE_URI = "$MLFLOW_TRACKING_URI"
MLFLOW_DEFAULT_ARTIFACT_ROOT = "$EXP_DIR/artifacts"

[tasks]
serve = "mlflow server"
gc_collect = "mlflow gc --backend-store-uri $MLFLOW_BACKEND_STORE_URI --artifacts-destination $MLFLOW_DEFAULT_ARTIFACT_ROOT --tracking-uri $MLFLOW_TRACKING_URI"

[dependencies]
python = ">=3.12"
pytorch = ">=2.9,<2.10"
pip = "*"
numpy = "*"
pandas = "*"
pathlib = "*"
biopython = "1.84.*"
tqdm = "*"
einops = "*"
omegaconf = "*"
hydra-core = "*"
pytest = "*"
mlflow = ">=3.0"
jaxtyping = "*"
psutil = "*"
ninja = "*"
aioboto3 = "*"
boto3 = "*"
awscrt = "*"
cloudpathlib = "*"
gemmi = "*"

[pypi-dependencies]
proteus = { path = ".", editable = true }

[feature.cpu]

[feature.gpu]
channels = ["conda-forge", "nvidia", "pytorch", "bioconda"]
platforms = ["linux-64"]

[feature.gpu.system-requirements]
cuda = "12"

[feature.gpu.dependencies]
cuda = ">=12.9,<12.10"
flash-attn = ">=2.8"
nvidia-ml-py = "*"

[feature.gpu.activation.env]
CPATH = "$CONDA_PREFIX/targets/x86_64-linux/include"

[feature.gpu.tasks]
build-cuda = "python setup.py build_ext --inplace"

[feature.gpu.pypi-dependencies]

[feature.docs.pypi-dependencies]
sphinx = ">=7.0"
sphinx-book-theme = "*"
myst-parser = ">=2.0"
sphinx-autodoc-typehints = ">=2.0"
sphinx-autobuild = "*"

[feature.docs.tasks]
docs-build = "sphinx-build -b html docs docs/_build/html"
docs-serve = "sphinx-autobuild docs docs/_build/html --host 0.0.0.0 --port 8000"
docs-clean = "rm -rf docs/_build"
